<nz-layout class="layout">
    <nz-sider
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzBreakpoint]="'xxl'"
      [nzCollapsedWidth]="0"
      [nzZeroTrigger]="zeroTrigger"
    >
    <npo-nav
        [menuItems]="menuItems"
        (logout)="logout()"
        (showSettings)="onShowSettings()"
        (newLocation)="onNewLocation()"
    ></npo-nav>

    </nz-sider>
    <nz-layout>
      <!-- <nz-header></nz-header> -->
      <nz-content>

        <npo-settings
          [visible]="showSettings"
          (hideSettings)="onHideSettings()"
        ></npo-settings>

        <div class="inner-content">
          <npo-map [newLocation]="getNewLocation"></npo-map>
        </div>
      </nz-content>
      <!-- <nz-footer><npo-footer></npo-footer></nz-footer> -->
    </nz-layout>
  </nz-layout>
  <ng-template #zeroTrigger>
    <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
  </ng-template>
