.layout {
    height: 100vh;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 24px 16px;
  }

  .inner-content {
    background: #fff;
    height: 100%;
  }

  nz-footer {
    text-align: center;
  }
